/* colors for most of page */
:root {
    --primary-color: rgb(11, 71, 110);
    --secondary-color: #dfc11c;
    --tertiary-color: #f54444;
    --fourth-color: rgb(87, 190, 221);
}

/*removes default browser enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color of font for entire page */
body {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    width: 100%;
    padding: 0px 0px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



header h1 {
    font-size: 40px;
    background-color: var(--fourth-color);    
    display: inline;
    margin: 0;
}

header a {
    text-decoration: underline;
    color: var(--fourth-color);
    font-weight: bold;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

/* navigation menu */

header nav ul li {
    margin: 0px 30px;
    display: inline;
    justify-content: space-between;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 20px;
}

/* hero */
.hero {
    text-align: right;
    color: var(--fourth-color);
    background-image: url(https://drncvpyikhjv3.cloudfront.net/sites/131/2016/09/21101909/blue-background-header-1.png);
    height: 200px;
    width: 100%;
    margin: 0 auto;
}

.selfie {
    width: 150px;
    margin: auto;
}

/* body */
section p {
    float: right;
    text-align: center;
}


section img {
    border: 4px double var(--fourth-color);
}

/* about me section */
.content-info {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    padding: 50px 0;
    width: 100%;
    text-align: center;
}
.content-info h2, .work h2{
    border-right: 3px solid var(--secondary-color);
}
.content-info p{
    flex:80%;
    flex-wrap: wrap;
    padding-left: 25px;
}
/* about me section */

/* work section */
.work {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    padding: 50px 0;
    width: 100%;
}
.work-pictures {
    display: flex;
    flex:80%;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
    width: 100%;
}
.work-pictures img {
    width: 50%;
    height: 100%;
}

.best-work {
    width: 100%;
    height: 350px;
    padding: 10px;
}
.additional-work {
    width: 49%;
}
.work-pictures h3 {
    /* pushes element to bottom of flex item */
    margin-top: 300px;
    width: 175px;
    text-align: left;
    position: absolute;
    padding-left: 10px;
    border-radius: 5px;
}

/* footer */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    color: var(--fourth-color);
}

footer ul li {
    display: inline;
    font-size: 25px;
    margin: 0;
    color: var(--fourth-color);
    float: right;
    text-align: right;
    padding: 0 35px;
}

footer a {
    color: var(--fourth-color);
}

.best-work, .additional-work {
    width: auto;
    padding: 7.5px 15px;
}
.work-pictures {
    padding: 0;
}

/* ------------------------ media query -----------------------------*/

/* below 768px */
@media screen and (max-width: 768px){
    .hero {
        justify-content: center;
    }
    .content-info h2, .work h2, .contact h2 {
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
        border-right: none;
        border-bottom: 3px solid;
        width: 75%;
        flex: none;
        margin: 0 auto;

    }
    .work-pictures {
        padding: 0;
    }
    .content-info p {
        margin-top: 15px;
        padding: 0 15px;
    }
}
/* below 575px */
@media screen and (max-width: 575px){
    * {
        box-sizing: unset;
    }
    .hero {
        justify-content: center;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
        font-size: 38px
    }
    header nav {
        width: 100%;
    }
    header ul li a {
        font-size: 21px;
    }
    header nav ul li {
        flex: 45%;
        text-align: center;
    }
    .selfie {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .content-info h2, .work h2, .contact h2 {
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
        border-right: none;
        border-bottom: 3px solid;
        width: 75%;
        flex: none;
        margin: 0 auto;

    }
    .content-info p {
        margin-top: 15px;
        padding: 0 15px;
    }
    .best-work, .additional-work {
        width: auto;
        padding: 7.5px 15px;
    }
    .work-pictures {
        padding: 0;
    }
}